@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      // 主色
      'base': #b8860b,
    ),
  )
);

:root {
  --el-border-radius-base: 0; /* 移除所有组件的默认圆角 */
  --el-messagebox-border-radius: 0;
}