@import "tailwindcss";

/* 重置样式 */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@theme {
  --color-primary: #0A0A0A;
  --color-secondary: #b8860b;
  --color-secondary-dark: #916e27;
  --color-text: #333;
  --color-light-bg: #ffffff;
}

.title {
  font-family: 'Palatino Linotype', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: ​Helvetica, Arial​, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text);
  background-color: var(--color-light-bg);
}

/* 链接样式 */
a {
  text-decoration: none;
  transition: color 0.3s ease;
}


section {
  min-height: 100vh;
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  z-index: 2;
  width: 100%;
  min-height: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.gradient-block {
  color: var(--color-text);
  background: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 28px;
  display: flex;
  gap: 8px;
  border: 1px solid var(--color-secondary-dark);
  /* border: 1px solid transparent; */
  /* background-image: linear-gradient(white, white), 
    linear-gradient(135deg,
      rgba(10, 10, 10, var(--navbar-bg-alpha, 1)) 50%,
      rgba(45, 30, 13, var(--navbar-bg-alpha, 1))); */
  background-origin: border-box;
  background-clip: padding-box, border-box;
}


.btn-primary {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-secondary-dark);
  border-radius: 0;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.btn-primary span {
  position: relative;
  z-index: 1;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.btn-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-primary);
  transition: width 0.5s ease;
}

.btn-primary:hover {
  border: 1px solid var(--color-primary);
  color: white;
}

.btn-primary:hover::before {
  width: 100%;
}

.btn-primary:active {
  transform: translateY(0);
}