@import "tailwindcss";

/* 重置样式 */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gill Sans Nova', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}

/* 链接样式 */
a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary);
}

:root {
  --primary: #203864;
  --secondary: #f7a01b;
}

section {
  min-height: 100vh;
  padding: 70px 40px;
}